---
import { getCollection } from 'astro:content';
import PageLayout from '@layouts/PageLayout.astro';
import TopLayout from '@layouts/TopLayout.astro';
import BottomLayout from '@layouts/BottomLayout.astro';
import { STORE } from '@consts';
import { BottomShadow } from '@components/react/BottomShadow';
import WaveBackground from '@components/react/WaveBackground';
import ProejctCard from '@components/react/ProjectCard';

const collection = await getCollection('store');

// 날짜순으로 정렬 (최신순)
collection.sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime());

const projects = await Promise.all(
	collection.map(async (item) => {
		const { Content } = await item.render();
		return { ...item, Content };
	}),
);
---

<PageLayout title={STORE.TITLE} description={STORE.DESCRIPTION}>
  <TopLayout>
    <div class="animate page-heading">
      {STORE.TITLE}
    </div>
  </TopLayout>
  <BottomLayout>
    <WaveBackground client:load />
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      {projects.map((project) => <ProejctCard client:load project={project} />)}
    </div>
  </BottomLayout>
  <BottomShadow />
</PageLayout>
