---
import { getCollection } from 'astro:content';
import PageLayout from '@layouts/PageLayout.astro';
import ArrowCard from '@components/react/ArrowCard';
import { SITE } from '@consts';
import TwinklingStars from '@components/TwinklingStars.astro';
import MeteorShower from '@components/MeteorShower.astro';
import TrueFocus from '@components/react/TrueFocus';
import { SpinningText } from '@components/react/SpinningText';
import { GridPattern } from '@components/react/GridPattern';
import { cn } from '@lib/utils';

const posts = (await getCollection('blog'))
	.filter((post) => !post.data.draft)
	.sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
	.slice(0, 3);
---

<PageLayout title="홈" description={SITE.DESCRIPTION}>
  <!-- Light Mode: Particles -->
  <div class="absolute inset-0 block dark:hidden">
    <div id="particles1" class="fixed inset-0"></div>
    <div id="particles2" class="fixed inset-0"></div>
    <div id="particles3" class="fixed inset-0"></div>
  </div>

  <!-- Dark Theme: Stars -->
  <div class="absolute inset-0 bg-black hidden dark:block">
    <div id="stars1" class="fixed inset-0"></div>
    <div id="stars2" class="fixed inset-0"></div>
    <div id="stars3" class="fixed inset-0"></div>
  </div>

  <!-- Dark Theme: Twinkling Stars / Metors -->
  <div id="galaxy" class="fixed inset-0">
    <div class="hidden dark:block">
      <TwinklingStars />
      <MeteorShower />
    </div>
  </div>

  <script is:inline src="/js/bg.js"></script>

  <!-- HERO -->
  <section class="relative h-screen w-full">
    <div
      id="planetcont"
      class="animate absolute inset-0 top-1/4 overflow-hidden"
    >
      <div
        id="crescent"
        class="absolute top-0 left-1/2 -translate-x-1/2 w-[250vw] min-h-[100vh] aspect-square rounded-full p-[1px] bg-gradient-to-b from-black/25 dark:from-white/75 from-0% to-transparent to-5%"
      >
        <div
          id="planet"
          class="w-full h-full bg-gradient-to-b from-white dark:from-black from-[30%] to-transparent rounded-full p-[1px] overflow-hidden flex justify-center"
        >
          <div
            id="blur"
            class="w-full h-20 rounded-full bg-neutral-900/25 dark:bg-white/25 blur-3xl"
          >
          </div>
        </div>
      </div>
    </div>
    <div
      class="animate absolute h-full w-full flex items-center justify-center"
    >
      <div class="relative w-full h-full flex items-center justify-center">
        <div
          class="p-5 text-center flex flex-col gap-4 justify-center items-center"
        >
          <TrueFocus
            client:load
            className="text-2xl md:text-3xl lg:text-4xl font-semibold bg-gradient-to-r from-gray-400 dark:from-gray-500 via-white-00 to-gray-600 dark:to-gray-100 inline-block text-transparent bg-clip-text"
            sentence="Frontend Engineer"
            manualMode={true}
            blurAmount={5}
            borderColor="#9ca3af"
            animationDuration={2}
          />
          <span
            class="animated text-2xl md:text-3xl lg:text-4xl font-bold uppercase bg-gradient-to-r from-blue-600 dark:from-blue-500 via-gray-400 to-gray-600 dark:to-white inline-block text-transparent bg-clip-text"
          >
            단입니다.
          </span>
          <div class="mt-20">
            <SpinningText client:load text="react • astro • tailwind •" />
          </div>
          <GridPattern
            client:load
            numSquares={30}
            maxOpacity={0.1}
            duration={3}
            repeatDelay={1}
            className={cn(
              "[mask-image:radial-gradient(500px_circle_at_center,white,transparent)]",
              "inset-x-[20%] inset-y-[-10%] h-[200%] skew-y-12",
            )}
          />
        </div>
      </div>
    </div>
  </section>

  <div class="relative bg-transparent">
    <div class="mx-auto max-w-screen-sm p-5 space-y-24 pb-16">
      <section class="animate">
        <div class="space-y-4">
          <div class="flex justify-between">
            <p class="font-semibold text-black dark:text-white">
              {"최근 포스트"}
            </p>
            <a
              href="/blog"
              class="w-fit col-span-3 group flex gap-1 items-center underline decoration-[.5px] decoration-black/25 dark:decoration-white/50 hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2 blend"
            >
              <span
                class="text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white blend text-sm"
                >{"전체보기"}</span
              >
            </a>
          </div>
          <ul class="space-y-4">
            {
              posts.map((post) => (
                <li>
                  <ArrowCard entry={post} />
                </li>
              ))
            }
          </ul>
        </div>
      </section>
    </div>
  </div>
</PageLayout>
